.card{
  border: 1px solid black;
  width: 250px;
  height: 350px;

  display: flex;
  flex-direction: column;
  background-color: #232323;
  border-radius: 15px;
}

.card__title {
  margin-left: auto;
  margin-right: auto;
}

.card__title > h3 {
  color: white;
}

.card__body {
  background-color: #616161;
  width: 90%;
  height: 70%;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card__body > img {
  height: 150px;
}

.card__stats {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card__stats__type {
  border-radius: 5px;
  color: #000;
  font-weight: bold;
  background-color: coral;
  padding: 5px;
  margin-right: 4px;
}
